/* Custom Css */
body {
    padding-top: 12px;
    max-width: none;
    color: #595959;
}

header img.logo {
	margin-bottom: 10px;
}
a {
	color: #275c8a;
}
ol a {
	text-decoration: underline;
}

h1 {
	font-size: 32px;
}
h2 {
    color: #666;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 0;
}
a.link {
	text-decoration: underline;
}
label {
	display: block;
}
input,
select,
textarea {
	width: 300px;
	margin-bottom: 15px;
}
main {
	padding: 0 10px;
}
.btn-default {
    margin-top: -15px;
}
.news {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out 0s;
    padding: 5px 10px 10px 10px;
 }
.thumbnail .caption {
    padding: 9px 9px 15px;
}
#detalle-proyecto ul.info {
    margin-left: 15px;
    margin-top: 10px;
    padding: 0;
}

#detalle-proyecto .status ul.info {
	margin-top: 0;
	padding-left: 11px;
}
#detalle-proyecto .status {
	min-height: 425px;
}
#detalle-proyecto .status p {
	margin-bottom: 2px;
}
#detalle-proyecto p.detail {
	font-size: 12px;
	margin-top: 3px;
}
#detalle-proyecto .video a:first-of-type {
	margin-top: 3px;
	display: block;
	font-size: 13px;
	text-decoration: underline;
}
#detalle-proyecto .video a:first-of-type:hover,
a.link:hover {
	color:#0066CC;
	text-decoration: none;
}

#detalle-proyecto .news img {
    margin: 0 10px 10px 0;

}
#detalle-proyecto .news p a.link.hidden-lg {
	display: block;
	margin-top: 10px;
}
#detalle-proyecto .news h4,
#detalle-proyecto .news p:first-of-type {
	font-size: 12px;
}
#detalle-proyecto .news p:first-of-type a {
	text-decoration: underline;
}
#detalle-proyecto .news h3 {
	margin-top: 10px;
}
#nuestros-proyectos h1 {
	margin-bottom: 13px;
    margin-top: 5px;
    color: #333333;
}
#detalle-proyecto .detalle-proyecto {
	margin-top: 20px;
}
#detalle-proyecto .wrapper {
	margin-top: 40px;
}
#detalle-proyecto .actions a {
	display: block;
    margin-right: 10px;
    margin-top: 10px;
    white-space: nowrap;
}
#detalle-proyecto .actions a:last-of-type {
    margin-top: 20px;
    text-align: center;
}
#detalle-proyecto .wrapper h2{
	margin-top: 5px;
	margin-left: 14px;
	margin-right: 14px;
}
#detalle-proyecto .video img {
	height: 50px;
    margin: 0 2px 20px 0;
    width: 80px;
}
video {
	cursor: pointer;
}
#nuestros-proyectos .thumbnail h2:first-of-type {
	margin-bottom: 5px;
    margin-top: 10px;
}

#nuestros-proyectos .thumbnail:first-of-type a {
	margin-bottom: 10px;
    margin-top: 5px;
}
#nuestros-proyectos .thumbnail:first-of-type a:hover {
	color: #428bca;
	text-decoration: underline;
}
#nuestros-proyectos .thumbnail:first-of-type img.map {
	height: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 95%;
    border: 1px solid #DDDDDD;
}
.nav-pills > li > a {
    border-radius: 0;
}
p {
	font-size: 16px;
    margin: 0 0 5px;
}
.left-border {
	border-left: 1px solid #CCCCCC;
	padding-bottom: 10px;
}
.right-border {
	border-right: 1px solid #CCCCCC;
	padding-bottom: 10px;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
/* Icons */
header .social-media,
header .accesibility {
    margin-bottom: 10px;
    margin-top: 30px;
}
header .accesibility {
    border-right: 1px solid #DDDDDD;
    padding-right: 15px;
    margin-top: 31px;
}
header .social-media img:hover,
header .accesibility img:hover {
    opacity: 0.8;
}
/* Search form */
form .form-control {
	border-radius: 4px 0 0 4px;
	position: relative;
	right: -6px;
	font-size: 13px;
	color:#666666;
}

/* Breadcrumb */
.breadcrumb {
	background-color: #FFFFFF;
    padding: 8px 15px 1px;
    font-size: 12px;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "\003e";
}

nav {
	background-color: #005e6f;
	margin-bottom: 15px;
}

nav li a {
	color: #FFFFFF;
	font-weight: bold;
}

.nav-pills > li + li {
    margin-left: 0;
}
/* Main Menu */
.nav > li {
	padding: 0;
	border-right: 1px solid #fff;
}

.nav > li a:hover {
	background-color: #EEEEEE;
	color: #005e6f;
	text-decoration: underline;
}

ul.nav > li a.active {
	background-color: #F5F5F5;
	color: #005e6f;
	text-decoration: none;
}
ul.nav > li a.active:hover {
	text-decoration: none;
	cursor: default;
}
.container .nav > li > a {
	padding: 10px 28px;
}
.container .nav > li:last-child > a {
	padding: 10px 30px;
}
.container .nav > li:last-child {
	padding: 0;
}
.nav > li:last-child {
	border-right: none;
}
.clearfix {
	clear: both;
}
.banner {
	position: relative;
	margin-bottom: 5px;
}
.banner .img-responsive{
    display: block;
    height: 180px;
    max-width: 170%;
}
.img-container {
	overflow: hidden;
}
.banner h1 {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    padding: 8px 10px 10px;
    position: absolute;
    width: 100%;
}
section:first-of-type {
	margin-bottom: 5px;
}
section:first-of-type p {
    color: #595959;
    font-size: 13px;
    margin-bottom: 20px;
}
section.wrapper {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    padding: 15px 15px 20px 15px;
}
section.wrapper h3 {
	margin-bottom: 16px;
    margin-top: 7px;
}

section.wrapper a:hover {
	text-decoration: none;
}

section.wrapper a article:hover {
	border: 1px solid #428bca;
	box-shadow: 0px 0px 2px 0px #428bca;
}
section.wrapper article h3 {
	font-size: 22px;
}
section.wrapper article ul {
	padding-left: 35px;
}
section.wrapper article p {
	font-size: 14px;
}
section.wrapper aside h3 {
    font-size: 16px;
    margin-bottom: 18px;
    margin-top: 14px;
}
section.wrapper aside h4 {
	font-size: 14px;
	margin: 2px 0 0 0;
}
section.wrapper aside article .caption {
	padding: 4px 2px;
}
section.wrapper aside article img {
	height: 91px;
	width: 100%;
}
.progress-bar.progress-bar-small {
	background-color: #660000;
}
.progress-bar.progress-bar-medium {
	background-color: #993300;
}
.progress-bar.progress-bar-large {
	background-color: #003300;
}

/*botones*/
section.wrapper ul, ol {
    margin-bottom: 15px;
}
section.wrapper .btn {
	width: 100%;
	display: inline;
}
section.wrapper article .btn {
	display: block;
}
section.wrapper .btn-general-container {
    margin: 0 auto;
    text-align: center;
    width: 200px;
}
section.wrapper .btn-general-container span {
	padding: 5px;
	display: inline;
}
section.wrapper .btn-general-container a {
	padding: 0 5px 2px;
	display: inline;
	color: #204c72;
	text-decoration: underline;
}
section.wrapper div.btn-general-container a:hover {
	color: #333333;
	text-decoration: underline;
}

section.wrapper .btn-general-container .btn:hover {
	color:#428bca;
	text-decoration: underline;
}
section.wrapper .btn.btn-general:hover {
	text-decoration: underline;
	color: #428bca;
}

.btn-primary {
    background-color: #ffa51d;
    border-color: #ffa51d;
    color: #282828;
}
.btn-primary:hover {
    background-color: #ffa722;
    border-color: #ffa722;
    color: #282828;
    text-decoration: underline;
}
footer {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
}

footer img {
	height: 80px;
}
footer img.logo {
	float: left;
    height: 40px;
    margin-right: 75px;
}
footer ul {
    margin: 12px 0 0;
    padding: 55px 0 0;
}

footer ul li {
    display: block;
    font-size: 12px;
}



footer ul li a {
	color: #595959;
}
footer ul li a:hover {
	color: #999999;
}
footer ul li span {
	font-weight: bold;
}
footer .sponsors {
	margin: 0 auto;
	width: 300px;
}
footer .sponsors img {
	height: 50px;
    margin-top: 20px;
}
footer .sponsors img:first-of-type {
	height: 70px;
    margin-right: 30px;
    margin-top: 10px;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


	body {
		font-size: 12px;
	}
	/* Main Menu */
	.nav > li > a {
		padding: 10px 3px;
	}
	h2 {

	    font-size: 20px;
	}
	main {
		padding: 0;
	}
	.banner .img-responsive{
	    height: auto;
	    max-width: 100%;
	}
	section:first-of-type .banner p {
	    height: 15px;
	    font-size: 11px;
	    margin-top: 3px;
	    margin-bottom: -18px;
	    text-align: right;
	    font-style: italic;
	}
	.thumbnail .caption {
	    padding: 9px 9px 3px;
	}
	#nuestros-proyectos .thumbnail h2:first-of-type {
	    margin-bottom: 0;
	    margin-top: 10px;
	}
	#nuestros-proyectos .thumbnail:first-of-type a {
	    margin-bottom: 0;
	    margin-top: 5px;
	}
	#nuestros-proyectos .thumbnail:first-of-type img.map {
	    height: 90px;
	}
	header img.logo {
	    margin-top: 4px;
	}

	header .social-media, header .accesibility {
	    margin-bottom: 5px;
	    margin-top: 0;
	}

	header .accesibility {
	    margin-top: 1px;
	    padding-right: 15px;
	}

	.navbar-form.navbar-right:last-child {
	    margin-bottom: 13px;
	    margin-right: -15px;
	}
	#detalle-proyecto ul.info {
		margin-left: 0;
	}
	section.wrapper article h3 {
	    font-size: 16px;
	}

	section.wrapper article ul {
	    padding-left: 20px;
	}

	.thumbnail .caption {
	    padding: 9px 9px 10px;
	}
	footer {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	footer ul {
	    margin: 12px 0 0;
	    padding: 0 0 0 100px;
	}
	footer ul li {
	    display: inline-block;
	    font-size: 12px;
	    list-style-type: none;
	    margin-right: 15px;
	    width: 174px;
	}
	footer {
	    margin-bottom: 0;
	    margin-top: 0;
	    padding: 20px;
	}
	.breadcrumb {
	    margin-bottom: 12px;
    	padding: 0 15px 1px;
    	font-size: 14px;
	}

	.banner h1 {
	    line-height: 30px;
	    font-size: 20px;
	    bottom: 12%;
	    width: 53%;
	}

	h2 {
	    font-size: 16px;
    	margin-bottom: 10px;
    	margin-top: 29px;
	}
	section:first-of-type p {
	    font-size: 12px;
    	margin-bottom: 26px;
	}

	#detalle-proyecto ul.info {
	    margin-bottom: 15px;
	    margin-left: 10px;
	    margin-top: 10px;
	    padding: 0;
	}
	#detalle-proyecto .status {
	    min-height: 377px;
	}
	#detalle-proyecto .actions a {
	    margin-right: 10px;
	}
	#detalle-proyecto .actions a {
	    display: inline;
	}
	#detalle-proyecto ul.info {
	    margin-top: 0;
	}
	#detalle-proyecto .news img {
		width: 160px;
		height: 110px;
	}
	.news h4 {
		width: 70%;
		float: left;
	}
	.news p:first-of-type {
		width: 27%;
		margin-top: 7px;
		margin-right: 5px;
		text-align: right;
		float: right;
	}
}


/* Medium devices (desktops, 992px and up) */
    @media screen and (min-width: 992px) {

	body {
		font-size: 13px;
	}

	/* Main Menu */
	.container .nav > li > a {
	    padding: 10px 18px;
	}

	h1 {
	    font-size: 27px;
	    color: #282828;
	}

	p {
	    font-size: 13px;
	    margin: 0 0 5px;
	}
	section:first-of-type p {
		color: #595959;
		font-size: 13px;
		margin-bottom: 31px;
	}
	h2 {
		font-size: 22px;
		margin-bottom: 6px;
		margin-top: 35px;
	}
	header .social-media {
	    padding-right: 5px;
	}

	header .social-media, header .accesibility {
	    margin-bottom: 8px;
	    margin-top: 23px;
	}
	header .accesibility {
	    border-right: 1px solid #dddddd;
	    margin-top: 26px;
	    padding-right: 15px;
	}
	section.wrapper article h3 {
	    font-size: 17px;
	}
	section.wrapper article ul {
	    padding-left: 25px;
	}
	section.wrapper aside h4 {
	    font-size: 12px;
	    margin: 2px 0 0;
    	color: #595959;
	}
	section.wrapper aside article img {
	    height: 78px;
	}

	footer {
	    margin-bottom: 5px;
	    margin-top: 10px;
	    padding: 20px;
	}
	footer ul {
	    padding: 0;
	}
	footer ul li {
	    display: inline;
	    font-size: 12px;
	    list-style-type: none;
	    margin-right: 10px;
	}

	section.wrapper aside h3 {
	    font-size: 13px;
	    margin-bottom: 20px;
	    margin-top: 15px;
	}
	section.wrapper .btn-general-container a {
	    padding: 0 5px 4px;
	}
	.container .nav > li > a {
		padding: 10px 20px;
	}
	.container .nav > li:last-child > a {
		padding: 10px 19px;
	}
	.banner h1 {
		font-size: 20px;
	    font-size: 25px;
	    line-height: 30px;
	    padding: 10px 15px 12px;
	    width: 50%;
	}
	#nuestros-proyectos .thumbnail:first-of-type img.map {
	    height: 100px;
	}
	section.wrapper article ul {
		padding-left: 25px;
		min-height: 80px;
	}
	#detalle-proyecto ul.info {
		margin-top: 56px;
		font-size: 12px;
	}



}


/* Large devices (large desktops, 1200px and up) */
    @media screen and (min-width: 1200px) {

	/* Main Menu */
	.container .nav > li > a {
		padding: 10px 35px;
	}
	.container .nav > li:last-child > a {
		padding: 10px 29px;
	}

	footer ul {
		margin: 12px 0 0 0;
		padding: 0;

	}
	footer ul li {
		list-style-type: none;
		font-size: 14px;
		display: inline;
		margin-right: 15px;
	}

	.banner h1 {
	    line-height: 40px;
	    padding: 10px 15px;
	    width: 53%;
	    font-size: 32px;
	}
	section.wrapper aside article img {
	    height: 87px;
	}
	#detalle-proyecto ul.info {
		margin-top: 60px;
	}

	section:first-of-type p {
		margin-bottom: 30px;
	}
	h2 {
		margin-top: 31px;
	}

}