/* Custom Css */
body {
    padding-top: 20px;
}

.breadcrumb {
	background-color: #FFFFFF;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "\003e";
}

.fa {
	font-size: 20px;
}

.form-control {
	border-radius: 4px 0 0 4px;
	position: relative;
	right: -6px;
}
